<!-- FOOTER LINKS -->
<div class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-white py-4 transition-colors duration-300">
  <div class="text-center space-x-4 text-sm font-medium">
    <a href="/about" class="hover:text-cyan-500 dark:hover:text-cyan-400">About</a>
    <span>-</span>
    <a href="/contact" class="hover:text-cyan-500 dark:hover:text-cyan-400">Contact</a>
    <span>-</span>
    <a href="/privacy-policy" class="hover:text-cyan-500 dark:hover:text-cyan-400">Privacy Policy</a>
    <span>-</span>
    <a href="/disclaimer" class="hover:text-cyan-500 dark:hover:text-cyan-400">Disclaimer</a>
  </div>
</div>

<!-- FOOTER -->
<footer class="text-center text-sm text-gray-500 dark:text-gray-400 py-4 border-t border-gray-200 dark:border-gray-700">
  &copy; {{ now.Format "2006" }} Buanacoding. All rights reserved.
</footer>
